<div class = "container" *ngIf = "project">
	<div class = "image" *ngIf = "project.image">
		<img src = "{{url+'get-image/'+project.image}}" *ngIf = "project.image"/>
	</div>
	<div class = "data">
		<h1>{{project.name}}</h1>
		<h2>{{project.category}}</h2>
		<h3>{{project.langs}}</h3><br>
		<p>{{project.description}}</p><br>
		<p>{{project.category}}</p>

		<p *ngIf = "confirm == false">
			<a [routerLink] = "['/edit-project', project._id]" class = "button-edit">EDIT</a>
			<a (click) = "setConfirm(true)" class = "button-delete">DELETE</a>
		</p>

		<br>
		<div *ngIf = "confirm == true">
			<p class = "confirm" >Are you sure you want to delete this project?</p>
			<a (click) = "setConfirm(false)" class = "button-edit">CANCEL</a>
			<a (click) = "deleteProject(project._id)" class = "button-delete">DELETE DEFINITELY</a>
		</div>
	</div>

	
</div>

