<div id = 'title'>
	<h1>{{title}}</h1><hr>
	<h2>{{subtitle}}</h2>
	<!--<p>{{email}}</p>-->
</div>

<article class = "about">
	<h2>About me</h2>
	<p>
		Mechanical engineer and web developer. Formed betwen Spain and Italy, 
		at the University of Castilla-La Mancha and the Università degli studi
		di Perugia.
	</p>
	<div id = "about-left">
		<h3>PERSONAL PROFILE</h3>
		<p>
			Poseo conocimientos en programación,  adquiridos en el grado, de forma autodidacta y cursos online. Estoy muy interesado en el desarrollo de webs y aplicaciones. A parte también tengo interés en sectores como el de las energías renovables y demás campos relacionados con la generación y transformación de energía.<br><br>

			He pasado un año en otro país y he estado en contacto con todo tipo de personas, por lo que la movilidad dentro y fuera del país no será un problema.
		</p>

		<h3>SKILLS</h3><br>
			<ul>
				<li>English		B2 aprox.</li>
				<li>Italian		B2 aprox.</li>
				<li>JavaScript		Advanced</li>
				<li>Angular		Advanced</li>
				<li>JQuery/UI		Intermediate</li>
				<li>C#		Intermediate</li>
				<li>Cype3D		Intermediate-Advanced</li>
				<li>AutoCAD		Intermediate</li>
			</ul>
		<img class = "logo-about" src = "../../assets/img/AngularLogo.png"/>
	</div>
	<div id = "about-right">Derecha</div>
</article>
